<!DOCTYPE html>
<html lang="en">
<head>

	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="description" content="AuCreative theme tempalte">
	<meta name="author" content="AuCreative">
	<meta name="keywords" content="AuCreative theme template">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>

	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"    />
 <!--   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/color.css">
<!--===============================================================================================-->
</head>
<body class="animsition restyle-index">
	
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="top-bar bg-main">
				<div class="container">
					<div class="content-topbar">
						<div class="left-top-bar">
							<!--<a href="#">Search</a>
							<a href="#">About</a>
							<a href="#">Blog</a>
							<a href="#">FAQ</a>-->
						</div>

						<div class="right-top-bar">
							<span>
								<i class="icon_phone" aria-hidden="true"></i>
								<span>082132555086</span>
							</span>

							<span>
								<i class="icon_pin" aria-hidden="true"></i>
								<span>Sepat Lidah kulon Gang I No 615B, Surabaya, Jawa Timur</span>
							</span>

							<span>
								<i class="icon_clock" aria-hidden="true"></i>
								<span>09:30 am – 06:00 pm</span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<div class="limiter-menu-desktop">
					
					<!-- Logo desktop -->		
					<a href="index.html" class="logo">
						<img src="images/icons/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="index.html">Home</a>
								<ul class="sub-menu">
									<!--<li><a href="index.html">Homepage V1</a></li>
									<li><a href="home-02.html">Homepage V2</a></li>
									<li><a href="home-03.html">Homepage V3</a></li>-->
								</ul>
							</li>

							<li>
								<a href="register.html">Register</a>
								<!--<ul class="sub-menu">
									<li><a href="course-list.html">Course List</a></li>
									<li><a href="course-grid.html">Course Grid</a></li>
									<li><a href="course-detail.html">Course Detail</a></li>
								</ul>-->
							</li>

							<!--<li>
								<a href="about-team.html">Teachers</a>
							</li>

							<li>
								<a href="#">Pages</a>
								<ul class="sub-menu">
									<li><a href="photo-gallery.html">Photo Gallery</a></li>
								</ul>
							</li>

							<li>
								<a href="blog.html">Blog</a>
								<ul class="sub-menu">
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-single.html">Blog Single</a></li>
								</ul>
							</li>

							<li class="respon-sub-menu">
								<a href="about.html">About</a>
								<ul class="sub-menu">
									<li><a href="about.html">About</a></li>
									<li><a href="about-team.html">About Team Member</a></li>
								</ul>
							</li>-->

							<li class="respon-sub-menu">
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
					
					<!-- Social desktop -->
					<div class="social">
						<a href="https://api.whatsapp.com/send?phone=6282132555086"><i class="fa fa-whatsapp m-l-13" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram m-l-18" aria-hidden="true"></i></a>
					</div>
					
				</div>
			</div>	
		</div>


		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<a href="index.html" class="logo-mobile">
				<img src="images/icons/logo.png" alt="IMG-LOGO">
			</a>
			

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
				
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li class="bo1-b p-t-8 p-b-8">
					<div class="left-top-bar p-l-7">
						<!--<a href="#">Search</a>
						<a href="#">About</a>
						<a href="#">Blog</a>
						<a href="#">FAQ</a>-->
					</div>
				</li>

				<li class="right-top-bar bo1-b p-t-8 p-b-8">
					<span>
						<i class="icon_phone" aria-hidden="true"></i>
						<span>082132555086</span>
					</span>
				</li>

				<li class="right-top-bar bo1-b p-t-8 p-b-8">
					<span>
						<i class="icon_pin" aria-hidden="true"></i>
						<span>Sepat Lidah kulon Gang I No 615B, Surabaya, Jawa Timur</span>
					</span>
				</li>

				<li class="right-top-bar bo1-b p-t-8 p-b-8">
					<span>
						<i class="icon_clock" aria-hidden="true"></i>
						<span>09:30 am – 06:00 pm</span>
					</span>
				</li>
			</ul>

			<ul class="main-menu-m bg-main">
				<li class="bg-main">
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<!--<li><a href="index.html">Homepage V1</a></li>
						<li><a href="home-02.html">Homepage V2</a></li>
						<li><a href="home-03.html">Homepage V3</a></li>-->
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li class="bg-main">
					<a href="Register.html">Register</a>
					<ul class="sub-menu-m">
						<!--<li><a href="course-list.html">Course List</a></li>
						<li><a href="course-grid.html">Course Grid</a></li>
						<li><a href="course-detail.html">Course Detail</a></li>-->
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li class="bg-main">
					<!--<a href="about-team.html">Teachers</a>-->
				</li>

				<li class="bg-main">
					<!--<a href="#">Pages</a>
					<ul class="sub-menu-m">
						<li><a href="photo-gallery.html">Photo Gallery</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>-->
				</li>

				<li class="bg-main">
					<!--<a href="blog.html">Blog</a>
					<ul class="sub-menu-m">
						<li><a href="blog.html">Blog</a></li>
						<li><a href="blog-single.html">Blog Single</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>-->
				</li>

				<li class="bg-main">
					<!--<a href="about.html">About</a>
					<ul class="sub-menu-m">
						<li><a href="about.html">About</a></li>
						<li><a href="about-team.html">About Team Member</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li class="bg-main">
					<a href="contact.html">Contact</a>
				</li>-->
			</ul>
		</div>
	</header>

	<!-- Breadcrumb -->
	<div class="bg1 p-t-29 p-b-29">
		<div class="container">
			<div class="flex-w">
				<span>
					<a href="index.html" class="s-txt21 hov-color-main trans-02">
						<i class="fa fa-home"></i>
						Home
					</a>
					<span class="s-txt21 p-l-6 p-r-9">/</span>
				</span>
				
				<span>
					<span class="s-txt21">
						Register
					</span>
				</span>
			</div>
		</div>
	</div>

	<!-- Content page -->
	<section class="p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-lg-8 p-b-50">
					<div>
						<h3 class="m-txt28 rs1-color p-b-40">
							Form Pendaftaran Bimbel
						</h3>

						<!--<form id="contact-form" class="flex-w flex-sb validate-form" method="post" action="includes/contact-form.php" name="contact" >
							<div class=" size25 w-full-lg m-b-20 validate-input" data-validate = "Name is required">
								<input class="s-txt31 size-full cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18" type="text" name="name" placeholder="Your Name">
							</div>

							<div class=" size25 w-full-lg m-b-20 validate-input" data-validate = "Valid email is: ex@abc.xyz">
								<input class="s-txt31 size-full cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18" type="text" name="email" placeholder="Your Email">
							</div>

							<div class=" size25 w-full-lg m-b-20">
								<input class="s-txt31 size-full cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18" type="text" name="phone" placeholder="Phone number">
							</div>

							<div class="w-full m-b-20 validate-input" data-validate = "Message is required">
								<textarea class="s-txt31 size22 cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18 p-t-12" name="msg" placeholder="Your Message"></textarea>
							</div>

	                        <div class="size26 w-seven m-b-20 validate-input" data-validate = "">
								<input class="s-txt31 size-full cl-ph-1 bo6 input-focus-1 bo-rad-2 p-l-18 p-r-18" type="text" name="name" placeholder="Your Name">
							</div>
							


							<div>
								<!-- Button --
								<button class="btn-drive m-txt1 size26 bg-main hov-color-white bo-rad-4">
									Send EMail
								</button>
							</div>
						</form>-->

 <form id="myForm" method="post" class="was-validated" >
     <div class="form-group">
      <label for="uname">Nama:</label>
      <input type="text" class="form-control input-sm" id="namanya" placeholder="Ketik Nama" name="nama" required>
   
    </div>
    <div class="form-group">
      <label for="uname">Gender:</label>
         <div class="row">
    	 	<div class="col">
    	 		 <select id="gend"  name="gen" class="form-control input-sm">
			      <option selected >Pilih Gender</option>
			      <option value="Laki-laki">Laki - laki</option>
			      <option value="Perempuan">Perempuan</option>
			    </select>
    	 	</div>
    	 	<div class="col"></div>
    	 	<div class="col"></div>
    	 	<div class="col"></div>
    	 </div>
   
   </div>
   <div class="form-group">
      <label for="alamat">Alamat lengkap:</label>
      <input type="textarea" class="form-control input-sm" id="alamat" placeholder="Ketik Alamat" name="alamat" required>
  
   </div>
   <div class="form-group">
	     <div class="row">
		      <div class="col">
		      	<label for="kota">Kota asal:</label>
		        <input type="text" class="form-control input-sm" id="kota" placeholder="Ketik kota asal" name="kotaasl" required>
		      </div>
		      <div class="col">
		      	<label for="provinsi">Provinsi:</label>
		        <input type="text" class="form-control input-sm" placeholder="Ketik nama provinsi" name="provinsi" required>
		      </div>
	    </div>
     </div>
	 <div class="form-group">
	     <div class="row">
		      <div class="col">
		      	<label for="telp">Telp:</label>
		        <input type="text" class="form-control input-sm" id="telpon" placeholder="Ketik No telp" name="telp" required>
		      </div>
		      <div class="col">
		      
		      </div>
	    </div>
	    
	 </div>

	 <div class="form-group">
	 	<label for="alamat">Nama Ortu:</label>
      <input type="text" class="form-control input-sm"  placeholder="Ketik Nama Ortu" name="namaortu" required>
	 </div>

	 <div class="form-group">
	     <div class="row">
		      <div class="col">
		      	<label for="telp">Telp Orang tua:</label>
		        <input type="text" class="form-control input-sm" placeholder="Ketik No telp Ortu" name="telpwali" required>
		      </div>
		      <div class="col">
		      
		      </div>
	    </div>
	    
	 </div>
	 <!------------------------------------SEKOLAHAN ASAL------------------------------------->
	 <hr/ style="margin-top: 40px;">
	 
    <div class="form-group ">
    	 <div class="row">
    	 	<div class="col">
		    	<label for="pwd">Jenjang sekolah:</label>
		    	 <select  id="optjenjang" onclick="myFunction()" name="jenjang" class="form-control input-sm">
			      <option selected>Pilih jenjang</option>
			      <option value="SMA">SMA</option>
			      <option value="SMP">SMP</option>
			      <option value="SD">SD</option>
			    </select>
		   </div>
		   <div class="col">
		   	    <div style="display: none;" id="optSMA">
			   		<label for="pwd">Kelas:</label>
			    	 <select  name="klstinggi" class="custom-select mb-3">
				      <option  selected>Pilih Kelas</option>
				      <option value="1">1</option>
				      <option value="2">2</option>
				      <option value="3">3</option>
				    </select>
			    </div>
			      	    <div style="display: none;" id="optSD">
			   		<label for="pwd">Kelas:</label>
			    	 <select  name="klsrendah" class="custom-select mb-3">
				      <option  selected>Pilih Kelas</option>
				      <option value="1">1</option>
				      <option value="2">2</option>
				      <option value="3">3</option>
				      <option value="4">4</option>
				      <option value="5">5</option>
				      <option value="6">6</option>
				    </select>
			    </div>
		   </div>
		      <div  class="col">
		      	<div style="display: none;" id="progSMA">
		   		<label for="pwd">Program(SMA):</label>
		    	 <select name="program" class="custom-select mb-3">
			      <option selected>Pilih Program</option>
			      <option value="IPA">IPA</option>
			      <option value="IPS">IPS</option>			     
			    </select>
			   </div>
		   </div>
		      <div class="col">
		   		
		   </div>
		      <div class="col">
		   
		   </div>
	    </div>
    </div>
		 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      <!-- <div class="form-group">
	     <div class="row">
		      <div class="col">
		      	<label for="pwd">Kelas:</label>
		        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
		      </div>
		      <div class="col">		      
		      </div>
	    </div>
	 </div>
   
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
        <div class="valid-feedback"></div>
    
      </label>
    </div>-->

    
    <div class="form-group">
	      <label for="namasekolah">Sekolah asal:</label>
	      <input type="text" class="form-control" id="namasekolah" placeholder="Ketik Sekolah asal" name="sklhasal" required>
    </div>
      	 <hr/ style="margin-top: 40px;">
	 <div class="form-group">
      	 	 <label for="namasekolah">Paket Bimbel:</label>
      		 <div class="btn-group" role="group" aria-label="Basic example">
		 		 <button type="button" onclick="paket('priv')" class="btn btn-info">Privat</button>
		 		 <button type="button" onclick="paket('kelom')" class="btn btn-info">Kelompok</button>
		 
			 </div>
			 <div id="privat" style="display: none; padding: 20px;">
			 	<h3>privat</h3>
			 		 <div class="row">
    	              	<div class="col">
					 	 	<label >Mapel:</label>
				    	 <select name="Mapel1" class="custom-select mb-3">
					      <option selected>Pilih Mapel</option>
					      <option value="Matematika">Matematika</option>
					      <option value="Bing">Bahasa Inggris</option>	
					      <option value="IPA">IPA</option>
					      <option value="IPS">IPS</option>	
					      <option value="Kimia">Kimia</option>
					      <option value="Fisika">Fisika</option>			     
					    </select>	
					    </div>
					    <div class="col">
						    <label >Jam mulai</label>							
						    <input class="form-control" type="time" name="jamMU" value="13:45:00" id="example-time-input">					    	
					    </div>
					    <div class="col">					      
						    <label >Jam akhir</label>							
						    <input class="form-control" type="time" name="jamIR" value="13:45:00" id="example-time-input">							
					     </div>
					     <div class="col">
					      
					     </div>
			     </div>	
			      <div class="row">
    	              	<div class="col">
    	              		 <label >Hari :</label>							
							   <select name="hari" class="custom-select mb-3">
						      <option selected>Pilih Hari</option>
						      <option value="Senin">Senin</option>
						      <option value="Selasa">Selasa</option>	
						      <option value="Rabu">Rabu</option>
						      <option value="Kamis">Kamis</option>	
						      <option value="Jumat">Jumat</option>
						      <option value="Sabtu">Sabtu</option>	
						      <option value="Minggu">Minggu</option>			     
						    </select>	

    	              	</div>
    	                <div  class="col-6">
    	                	<label >Hari yang di Pilih:</label>	
    	                	  <input type="text" class="form-control" id="namasekolah" placeholder="Ketik Sekolah asal" name="sklhasal" required>
    	              	</div>
    	                <div class="col">										    	
					    </div>
					   
    	          </div>
    	            	
						     
    	            
		 </div>
			 <div   ng-app="myApp" ng-controller="myCtrl" id="kelompok" style="display: none; padding: 20px;">

			 	<h3>kelompok</h3>
			 	 <div class="row">
    	              	<div class="col">
					 			 <label >Jumlah Orang</label>					     
						        <select name="jmlhorg" class="custom-select mb-3">
							      <option selected>Pilih Jumlah</option>
							      <option onclick="funcklompok('2org')" value="2">2</option>
							      <option onclick="funcklompok('3org')" value="3">3</option>	  
							    </select>	
					    </div>
					       <div class="col">
								    	
					       </div>
					      <div class="col">
					      					
					      </div>
					      <div class="col">
					      	
					      </div>
			         </div>
			         <div class="row" style="margin-top:10px; ">
			         	<div class="col">
			         		 	<label >Mapel:</label>
					    	 <select name="Mapel2" class="custom-select mb-3" ng-model="mpelnya">
						      <option selected>Pilih Mapel</option>
						      <option value="Matematika">Matematika</option>
						      <option value="Bing">Bahasa Inggris</option>	
						      <option value="IPA">IPA</option>
						      <option value="IPS">IPS</option>	
						      <option value="Kimia">Kimia</option>
						      <option value="Fisika">Fisika</option>			     
						    </select>	
			         	</div>
    	              	<div class="col">
    	              		 <label >Hari :</label>							
							   <select  ng-model="day1" name="hari" id="hariles" class="custom-select mb-3" >
						      <option selected>Pilih Hari</option>                                                                                                              
						     <!-- <option onclick="pilihwaktu('Senin')" >Senin</option>
						      <option onclick="pilihwaktu('Selasa')" >Selasa</option>	
						      <option onclick="pilihwaktu('Rabu')" >Rabu</option>
						      <option onclick="pilihwaktu('Kamis')" >Kamis</option>	
						      <option onclick="pilihwaktu('Jumat')" >Jumat</option>
						      <option onclick="pilihwaktu('Sabtu')" >Sabtu</option>	
						      <option onclick="pilihwaktu('Minggu')" >Minggu</option>-->
						        <option value="Senin" >Senin</option>
						      <option  value="Selasa"  >Selasa</option>	
						      <option  value="Rabu" >Rabu</option>
						      <option onclick="pilihwaktu('Kamis')" >Kamis</option>	
						      <option onclick="pilihwaktu('Jumat')" >Jumat</option>
						      <option onclick="pilihwaktu('Sabtu')" >Sabtu</option>	
						      <option onclick="pilihwaktu('Minggu')" >Minggu</option>			     
						    </select>	

    	              	</div>
    	                <div  class="col">
    	                	<!--<label >Hari yang di Pilih:</label>	
    	                	  <input type="text" class="form-control" id="haripilihan" placeholder="Tentukan hari Les"   disabled readonly required>-->
    	                	  	<label >Mulai</label>							
						    <input class="form-control" type="time" value="13:45" id="example-time-input" ng-model="wkt1">	
    	              	</div>
    	                <div class="col">	
    	                	 <label >Akhir</label>							
						    <input class="form-control" type="time" name="jamakhir"  value="13:45" id="example-time-input">									    	
					    </div>
					   
					    <div class="col">

					    </div>
					   
    	          </div>	
    	              <div class="form-group">
    	              	<div class="row">
    	              		   <div class="col-10">
    	              		   		
					    	<button ng-click="add()" type="button" class="btn btn-primary">Primary</button>	
    	              		   </div>

    	              	</div>
			          <div class="row">
			          	<div class="col-6">
			         <div>
			         	<table  class="table table-bordered table-sm">
			         			<tr>
									<th scope="col">hari</th>
									<th scope="col">waktu</th>
									<th scope="col">mapel</th>
									<th scope="col">option</th>
									
								
								</tr>
								<tr ng-repeat="product in listProducts">
							
									<td>{{product.day1}}</td>
									<td>{{product.wkt1}}</td>
									<td>{{product.mpelnya}}</td>
									<td>
										
										<button  ng-click="del(product.hari)">Batal</button>
									</td>
								</tr>
			         	</table>
			         </div>
			         </div>
			         </div>
			     </div>


			         <div id="div2org" style="display: none;" >
			            	<div class="border border-primary" style="padding: 20px;">
			         	  	<label >Nama peserta 2:</label>
		       				 <input type="text" class="form-control input-sm" id="rr" placeholder="Ketik Nama" name="nama2" required>
		       		        <div class="form-group">
					               <label for="uname">Gender:</label>
			  				       <div class="row">
			    	            			<div class="col">
		    	 	            			 <select id="gend3"  name="gen2" class="form-control input-sm">
					               		  <option selected >Pilih Gender</option>
					               		  <option value="Laki-laki">Laki - laki</option>
					  			    		 <option value="Perempuan">Perempuan</option>
								   		  </select>
		    	 							</div>
		    			 					<div class="col"></div>
		    			 					<div class="col"></div>
		    			 					<div class="col"></div>
		    					    </div>		   						
		 				    </div>
		       				 	<label >Alamat:</label>
		       				 <input type="text" class="form-control input-sm" id="gg" placeholder="Ketik Alamat" name="alamat2" required>
		       				 <label >No Telp:</label>
		       				 <input type="text" class="form-control input-sm" id="tt" placeholder="Ketik No Telp" name="notelp" required>
		       				 <label >Nama Orang tua:</label>
		       				 <input type="text" class="form-control input-sm" id="kk" placeholder="Ketik Nama Ortu" name="namaortu2" required>
		       				 <label >No Telp Orang Tua:</label>
		       				 <input type="text" class="form-control input-sm" id="tt" placeholder="Ketik No Telp Ortu" name="notelportu2" required>
		       				 </div>
			         </div>
			         <div id="div3org" style="display: none; margin-top: 15px;" >
			         	<div class="border border-primary" style="padding: 20px;">
			         		<label >Nama peserta 3:</label>
		       				 <input type="text" class="form-control input-sm" id="aa" placeholder="Ketik Nama" name="nama3" required>
		       				      <div class="form-group">
					               <label for="uname">Gender:</label>
			  				       <div class="row">
			    	            			<div class="col">
		    	 	            			 <select id="gend3"  name="gen3" class="form-control input-sm">
					               		  <option selected >Pilih Gender</option>
					               		  <option value="Laki-laki">Laki - laki</option>
					  			    		 <option value="Perempuan">Perempuan</option>
								   		  </select>
		    	 							</div>
		    			 					<div class="col"></div>
		    			 					<div class="col"></div>
		    			 					<div class="col"></div>
		    					    </div>		   						
		 				    </div>
		       				 	<label >Alamat:</label>
		       				 <input type="text" class="form-control input-sm" id="ss" placeholder="Ketik Alamat" name="alamat3" required>
		       				 <label >No Telp:</label>
		       				 <input type="text" class="form-control input-sm" id="ss" placeholder="Ketik No Telp" name="telp3" required>
		       				  <label >Nama Orang tua:</label>
		       				 <input type="text" class="form-control input-sm" id="kk" placeholder="Ketik Nama Ortu" name="namaortu3" required>
		       				 <label >No Telp Orang Tua:</label>
		       				 <input type="text" class="form-control input-sm" id="tt" placeholder="Ketik No Telp Ortu" name="notelportu3" required>
		       				</div>

			         </div>
			         <!----------------------DEFINITION SCEDULL LES PRIVAT------------------->
			      



              <div class="form-check form-check-inline">
			  <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
			  <label class="form-check-label" for="materialInline1">Online</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
			  <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
			  <label class="form-check-label" for="materialInline2">Offline</label>
			</div>
			 </div>
		</div>





    
    	 <hr/ style="margin-top: 40px;">
    <button type="submit" name="simpan" class="btn btn-primary">Submit</button>
  </form>
  	<div id="result"  >
						
	</div>
					</div>
				</div>

				<div class="col-md-5 col-lg-4 p-b-50">
					<div class="p-l-20 p-l-0-lg">
						<h3 class="m-txt28 rs1-color p-b-35">
							Kontak Bimbel
						</h3>

						<p class="s-txt2">
							
						</p>

						<ul class="p-t-26">
							<li class="s-txt32 rs2-color p-b-10">
								<i class="m-r-5 fa fa-home" aria-hidden="true"></i>
								Sepat Lidah kulon Gang I No 615B, Surabaya, Jawa Timur
							</li>

							<li class="s-txt32 rs2-color p-b-10">
								<i class="m-r-5 fa fa-phone" aria-hidden="true"></i>
								(+62) 821-3255-5086
							</li>

							<li class="s-txt32 rs2-color p-b-10">
								<!--<i class="m-r-5 fa fa-fax" aria-hidden="true"></i>
								(+1) 96 716 6879-->
							</li>

							<li class="s-txt32 rs2-color p-b-10">
								<i class="m-r-5 fa fa-envelope-o" aria-hidden="true"></i>
								irtsuga@gmail.com
							</li>

							<li class="s-txt32 rs2-color p-b-10">
								<i class="m-r-5 fa fa-clock-o" aria-hidden="true"></i>
								Mon-Fri 09:00 - 17:00
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Map -->
	<!--<div class="map">
		<div class="contact-map h-size1" id="google_map" data-map-x="-7.3053947" data-map-y="112.6550329" data-pin="images/icons/favicon.png" data-scrollwhell="0" data-draggable="1"  data-zoom="15"></div>
	</div>-->

<footer class="bg4 p-t-25">
		<div class="container p-b-60">
			<div class="row">
				<div class=" col-sm-12 col-lg-3 p-t-30">
					<div class="w-full wrap-pic-max-w">
						<a href="index.html"><img src="images/icons/logo-02.png" alt="LOGO"></a>
					</div>

					<p class="s-txt9 p-t-30">
						LBB Privat online - offline. Matematika, IPA, IPS, Biologi, Fisika, Kimia, Bahasa Inggris, Persiapan UNAS, UASBN dan Masuk Perguruan Tinggi.
					</p>
				</div>
				
				<div class=" col-sm-6 col-lg-3 p-t-30">
					<h4 class="m-txt12 p-t-14">
						Tentang web
					</h4>

					<div class="wrap-link-footer p-t-28">
						<ul class="col-left">
							<li><a href="#">Home</a></li>
							<!--<li><a href="#">Courses</a></li>
							<li><a href="#">Teachers</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>-->
						</ul>

						<ul class="col-right">
							<!--<li><a href="#">Blogs</a></li>
							<li><a href="#">404 page</a></li>
							<li><a href="#">Shop</a></li>
							<li><a href="#">Elements</a></li>
							<li><a href="#">Typography</a></li>-->
						</ul>
					</div>
				</div>

				<div class=" col-sm-6 col-lg-3 p-t-30">
					<h4 class="m-txt12 p-t-14">
						Kontak Kami
					</h4>

					<ul class="contact-footer p-t-28">
						<li>
							<i class="fa fa-home" aria-hidden="true"></i>
							Sepat Lidah kulon Gang I No 615B, Surabaya, Jawa Timur
						</li>

						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							(+62) 821-3255-5086
						</li>

						<li>
							<!--<i class="fa fa-fax" aria-hidden="true"></i>
							(+1) 96 716 6879-->
						</li>

						<li>
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							irtsuga@gmail.com
						</li>

						<li>
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							Mon-Fri 09:00 - 17:00
						</li>
					</ul>
				</div>

				<div class=" col-sm-6 col-lg-3 p-t-30">
					<h4 class="m-txt12 p-t-14">
						Gallery
					</h4>

					<div class="wrap-gallery-footer p-t-35">
						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-01.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-01.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-02.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-02.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-03.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-03.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-04.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-04.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-05.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-05.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/gallery-footer-06.jpg" data-lightbox="gallery-footer">
							<img src="images/gallery-footer-06.jpg" alt="GALLERY">
						</a>
					</div>
				</div>
				
			</div>
		</div>

		<div class="bg3 txt-center p-t-19 p-b-16">
			<span class="s-txt10">@ 2021 LBB Privat Seribu Guru.</span>
		
		</div>
	</footer>




	<!-- Back to top -->
	<div class="btn-back-to-top hov-bg-main" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/wow/wow.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
	<script src="js/contact.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript">

		var appang = angular.module('myApp', []);
				appang.controller('myCtrl', function($scope) {
		    $scope.listProducts = [
			/*{ day1:'senin', wkt1:07, mpelnya:'matematika'},
			{ day1:'rabu', wkt1:08, mpelnya:'Fisika'},		*/
		];

		$scope.add = function(){

  // your code

var hours = $scope.wkt1.getHours()+':'+$scope.wkt1.getMinutes();
			$scope.listProducts.push({
				 day1:$scope.day1, wkt1:hours, mpelnya:$scope.mpelnya
			});
			/*$scope.id='';
			$scope.name='';
			$scope.price='';
			$scope.quantity='';*/
		};


		$scope.del = function(id){
			/*var result = confirm('Are you sure');
			if(result===true){
			var index = getSelectedIndex(id);
			$scope.listProducts.splice(index, 1);

			}*/

			var index = getSelectedIndex(id);
			$scope.listProducts.splice(index, 1);
		};

		function getSelectedIndex(id) {
			for(var i=0; i<$scope.listProducts.length; i++)
				if($scope.listProducts[i].id==id)
					return i;
				return -1;
		}
		});



 /////////////////////pure javascript///////////////////////////////////////////
		function myFunction() {
		  var selectted = document.getElementById("optjenjang").value;
		  
		  var dsSMA = document.getElementById("optSMA");
		  var dsSD = document.getElementById("optSD");
		  var jurSMA = document.getElementById("progSMA");
		/* if (checkBox.checked == true){
		    text.style.display = "block";
		  } else {
		     text.style.display = "none";
		  }*/
		  if (selectted == 'SMA') {
		  	dsSMA.style.display = "block";
		  	 dsSD.style.display = "none";
		  	 jurSMA.style.display = "block";
		  }else if(selectted == 'SD'){
		  	 dsSD.style.display = "block";
		  	 dsSMA.style.display = "none";
		  	 jurSMA.style.display = "none";
		  }else if(selectted == 'SMP'){
		  	 dsSD.style.display = "none";
		  	 dsSMA.style.display = "block";
		  	 jurSMA.style.display = "none";
		  }/*else if(selectted == 'SD'){
		  	 text.style.display = "none";
		  }else{

		  }*/
		  
		}

		function paket(paketan){
			var tabprivat = document.getElementById("privat");
			var tabkelompok = document.getElementById("kelompok");

			if (paketan=='priv') {
				tabprivat.style.display='block';
				tabkelompok.style.display='none';
			}else if (paketan=='kelom') {
					tabprivat.style.display='none';
				tabkelompok.style.display='block';
			}
		}

		function funcklompok(klom){
				var divisi2 = document.getElementById("div2org");
			var divisi3 = document.getElementById("div3org");
			if (klom=='2org') {
				divisi2.style.display='block';
				divisi3.style.display='none';

			}else if (klom=='3org') {
				divisi2.style.display='block';
				divisi3.style.display='block';
			}
		}

        

        var hart='';
        var nom=0;
        	//var harifix= document.getElementById("haripilihan").value;
		function pilihwaktu(hari){		
			//var harinet = document.getElementById("hariles").value;
			//var harinet2 = document.getElementById("haripilihan").value;
			nom=nom+1;
			if (nom==1) {
              document.getElementById("haripilihan").value=hari;
			}else{
			  hart=document.getElementById("haripilihan").value +','+ hari;
			  document.getElementById("haripilihan").value=hart;

			}
			
			
		
			
		}


		$(document).ready(function () {
		
  /*$("form").submit(function (event) {
    var formData = {
      name: $("#nama").val(),
    //  email: $("#email").val(),
     // superheroAlias: $("#superheroAlias").val(),
    };

    $.ajax({
      type: "POST",
      url: "proses.php",
      data: formData,
      dataType: "json",
      encode: true,
    }).done(function (data) {
      //console.log(data);
        
            if (!data.success) {
            
            }else{
            	var stts = document.getElementById("status");
            stts.style.display = "block";
           
            }
  
    });

    event.preventDefault();
  });

  	$().ajaxStart(function() {
	//	$('#loading').show();
		$('#result').hide();
	}).ajaxStop(function() {
		//$('#loading').hide();
		$('#result').fadeIn('slow');
	});

  $('#myForm').submit(function() {
		$.ajax({
			type: 'POST',
			url: $(this).attr('action'),
			data: $(this).serialize(),
			success: function(data) {
				$('#result').html(data);
			}
		})
		return false;
	});*/
    
   document.getElementById("myForm").reset();
  $("#myForm").submit(function(e) {
          e.preventDefault();

        /*  $.ajax({
              url: 'proses.php',
              type: 'post',
              data: $(this).serialize(),             
              success: function(data) {               
              document.getElementById("myForm").reset();
              $('#result').html(data); 

              }
          });*/
          $.ajax({
            url: 'proses.php',
             type: 'post',
         data: JSON.stringify( { "name": $('#namanya').val(), 
         	"gen": $('#gend').val(),"tes": [
      "Radiation resistance",
      "Turning tiny",
      "Radiation blast"
    ] } ),   
         success:callback   
            
          });


      });

});

		function callback(data,status){
			$("#result").text(data);

		}
		
		
	</script>
	

</body>
</html>